
classes/com/biomatters/exampleSequenceAnnotationGeneratorPlugin/ExampleSequenceAnnotationGenerator$ExampleSequenceAnnotationGeneratorOptions.class

classes/com/biomatters/exampleSequenceAnnotationGeneratorPlugin/ExampleSequenceAnnotationGenerator$1.class
